<!doctype html>
<html lang="en">

<head>
  <title>BiteUrl - A Url Shortening Service</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3 text-center">Enter Url</h1>
      <hr>
      <div class="row">
        <div class="col-md-12 align-self-center">
          <div class="input-group">

            <input type="url" id="url" role="url" aria-label="Short URL" class="form-control" placeholder="Enter URL"
              required>
            <div class="input-group-append">
              <button class="btn btn-md btn-success" id="btn">Shorten</button>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger invisible mt-3" id="url-alert" role="alert">
            <span class="url-alert-text">Url Shortened</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/public/js/client.js"></script>




  <script>

    var longUrl = document.getElementById("url")
    var btn = document.getElementById("btn")
    var shortened = document.getElementById("url-alert")
    var copy = document.getElementById("btn-copy-link")

    longUrl.addEventListener('keypress', (e) => {
      if (e.which == 13 || e.keyCode == 13 || e.key == 'Enter') {
        btn.click()
      }
    })

    btn.addEventListener("click", async (e) => {
      e.preventDefault()
      //console.log(longUrl.value)
      const body = JSON.stringify({
        "longUrl": longUrl.value
      })

      var postData = {
        method: 'POST',
        body: body,
        headers: { 'Content-Type': 'application/json' }
      }

      const res = await fetch('/api/url/shorten', postData)
      /*  .then(res => {
          console.log(res.json().then((data) => {
            console.log(data.shortUrl)
            shortened.classList.remove("invisible")
            shortened.classList.remove("alert-danger")
            shortened.classList.add("alert-success")
            shortened.innerHTML = `<a href=${data.shortUrl} target="_blank" id="shortUrl" >${data.shortUrl}</a><button class="btn btn-sm btn-primary right float-right" id="btn-copy-link" onclick="copyFunc()">Copy</button><span class="mr-2 right d-none" id="copied">Copied</span>`
          }).catch(err => console.log(err)))
        })
        .catch((err) => {
          console.log(err)
        })*/

      const data = await res.json()
      console.log(data.shortUrl)

      shortened.classList.remove("invisible")
      shortened.classList.remove("alert-danger")
      shortened.classList.add("alert-success")
      shortened.innerHTML = `<a href=${data.shortUrl} target="_blank" id="shortUrl" >${data.shortUrl}</a><button class="btn btn-sm btn-primary right float-right" id="btn-copy-link" onclick="copyFunc()">Copy</button><span class="mr-2 right d-none" id="copied">Copied</span>`



      function saveClipBoard(data) {
        var dummy = document.createElement('input');
        var text = data;

        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        var success = document.execCommand('copy');
        document.body.removeChild(dummy);

        return success;
      }
    })

    function copyFunc() {
      var copyText = document.getElementById("shortUrl").href
      console.log(copyText)

      navigator.clipboard.writeText(copyText).then(() => alert("Copied " + copyText)).catch(() => alert('cannot copy'))
    }

  </script>




</body>

</html>